@import "../header/header.style.scss";
.asider {
  &_left {
    width: 240px;
    @include absolute((left: 0, top: 60px, bottom: 0));
    background-color: $white;
  }
  &_logo {
    position: relative;
    @extend .header_logo;
    &::before {
      content: '';
      @include absolute((left: 0, bottom: 0, right: 0));
      background-color: $bdcdcdc;
      box-shadow: 0px -1px 5px $adcdcdc;
      height: 1px;
      transform: scaleY(0.5);
    }
  }
  &_menu {
    padding: 15px 0px;
    @include overflow((y: auto));
    &_a {
      position: relative;
      display: block;
      cursor: pointer;
      @include height(40px);
      color: $b666;
      margin-top: 10px;
      font-size: 13px;
      &:hover {
        @extend .asider_menu_active;
      }
      &ctive {
        color: $b1890ff;
        background-color: $bf2f6fd;
        &::before {
          content: '';
          width: 2px;
          background-color: $b1890ff;
          @include absolute((top: 0, right: 0, bottom: 0));
        }
      }
    }
    &_head {
      padding-top: 5px;
    }
    &_title {
      @include height(50px);
      color: $b999;
      font-size: 12px;
      padding-top: 5px;
    }
    &_children {
      position: relative;
      padding-top: 10px;
      &::before {
        @extend .asider_logo;
        @include absolute((left: 10px, right: 10px, bottom: auto));
        background: $adcdcdc;
      }
    }
  }
}