@import "../common/styles/public.scss";
.header {
    height: 60px;
    display: grid;
    grid-template-columns: 240px auto 300px;
    align-items: center;
    justify-content: stretch;
    background-color: $white;
    &_logo {
        height: 100%;
        padding-left: 25px;
        @include fx(rl, cc);
        @include font((size: 28px, weight: 600));
        &_img {
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }
    }
    &_menu {
        height: 100%;
    }
    &_userinfo {
        height: 100%;
    }
    &_left {
       @include absolute((top: 0, left: 242px, right: 0, z-index: 10));
       height: 40px;
       background-color: $white;
       box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.09);
    }
}